<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!--enyim 客户端配置-->
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <add address="106.14.218.31" port="11211"/>
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="50" connectionTimeout="00:10:00" deadTimeout="00:02:00"/>
    </memcached>
  </enyim.com>
  
  <appSettings>
    <!--连接字符串-->
    <add key="ConnString" value="Data Source = 106.14.218.31,1439;Initial Catalog = health; User ID = sa;Password = sun@99ddipok8;" />
    <!--缓存过期时间间隔-->
    <add key="ExpirationTime" value="1"/>
    <!--缓存过期时间(单位：分钟)-->
    <add key="CacheOutTime" value="0" />
    <!--标签缓存过期时间(单位：分钟)-->
    <add key="TagCacheOutTime" value="60" />
    <!--运动缓存过期时间(单位：分钟)-->
    <add key="SportCacheOutTime" value="60" />
    <!--字典缓存过期时间(单位：分钟)-->
    <add key="DataDictionaryCacheOutTime" value="60" />
    <!--用户缓存过期时间(单位：分钟)-->
    <add key="UserCacheOutTime" value="60" />
    <!--用户Token过期时间(单位：天)-->
    <add key="TokenInvalidOutTimeDays" value="3" />
    <!--阿里云Title-->
    <add key="User_Level" value="0-5,身体孱弱|5-15,健健康康|15-30,生龙活虎|30-50,百楼不喘,-2|50-70,生病是什么?,-4|70-90,飞天遁地,-6|90-110,斩妖除魔,-8|110-*,长生不死,-10" />
    <!--百度云AK-->
    <add key="BaiDuAK" value="N3VxQPm4CRqm7odgrMuopqIWoMRPqesL" />
    <!--暂时忘了-->
    <add key="RatioDenominator" value="10" />
    <!--Md5秘钥-->
    <add key="secret" value="123" />
    <!--页面数据大小-->
    <add key="PageSize" value="10" />
    <!--本地URL-->
    <add key="IocalUrl" value="http://192.168.10.100:8051/" />
    <!--图片上传Url-->
    <add key="ImageUrl" value="http://106.14.218.31:8081/" />
    <!--搜索范围-->
    <add key="SeachRange2" value="50000000" />
    <add key="SeachRange" value="50000000" />
    <!--阿里云KeyId-->
    <add key="AliyunAccessKeyId" value="LTAIzkFFbIQJIljU" />
    <!--阿里云秘钥-->
    <add key="AliyunAccessKeySecret" value="KAuo35J25OFT1Ir0fIdcuO47yaPXzt" />
    <!--阿里云Title-->
    <add key="AliyunSignName" value="阿里云短信测试专用" />
  </appSettings>
</configuration>